html{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}
header, body, footer{
    margin-left: auto;
    margin-right: auto;
    
} 
a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

header{
    box-sizing: border-box;
    display: table;
    width: 100%;  
    margin-bottom: 20px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
#logo{
    width: 100px;
    height: auto;
    padding-top: 18px;
    float: left;
}
.menunav {
    list-style-type: none;
    text-align: right;
    margin: 0;
}
.menunav li {
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    border-top: solid 1px #0065FC;
}
.inscription{
    color: #0065FC;
    background-color: white;
    border: none;
    font-size: 1em;
    font-weight: bold;    
    padding-top: 33px;
    padding-left: 20px;
    cursor: pointer;
}
.menunav .nope2 {
    border-top: none;
}
h1{
    padding-top: 1em;
}
h1, h2{
    font-size: 1.5em;
}
.searchbar {
    display: flex;
    height: 50px;
    padding-bottom: 20px;
}
.fa-map-marker-alt{
    display: flex;
    padding: 15px 20px 0px 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: #f2f2f2;
}
.button {
    height: 50px;
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}
#search {
    width: 250px;
    height: 50px;
    border: solid 1px #f2f2f2;
    font-size: 1em;
    font-weight: bold; 
    padding-left: 20px;
}
::placeholder{
    color: #000;
}
.filtersmenu .fas{
    padding: 16px;
    margin-right: 20px;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 100%;
}
.filtersmenu { 
    display: flex;
    flex-direction: row;
    
}
.filtersmenu #nope {
    border: none;
    border-radius: 60px;
}
.filtersmenu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}
.filtersmenu li{
    list-style: none;
    font-weight: bold;
    padding: 0px 40px 0px 0px;
    border: 2px solid #F2F2F2;
    border-radius: 60px;
    margin-right: 20px;
}
.info{
    display: flex;
    align-items: center;
}
.fa-info{
    padding: 10px 15px 10px 15px;
    color: #0065FC;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    border: solid 1px #F2F2F2;
    display: flex;
}
.info p{
    margin-left: 20px;
}


/*ACCOMODATION*/
section{
    padding-left: 12.5%;
    padding-right: 12.5%;
}
#accomodation{
    background-color: white;
    width: 66.6%;   
}
.greybox1{
    background-color: #F2F2F2;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    height: 660px;
}
.accomodationmarseille{
    display: flex;
    flex-wrap: wrap;
}
.accomodationmarseille h3{
    line-height: 0;
    background-color: #F2F2F2;
}
.VignetteAcc{
    display: flex;
    width: calc(33.3% - 30px);
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 20px 50px 10px;
    box-shadow: 0 5px 15px #cacaca;
}
.Vignettecontent{
    padding-left: 20px;
    font-size: 15px;
    line-height: 0.5;
    margin-bottom: 10px;
}
.accmapicture{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.fa-star{
    color: #0065FC;
}
.fas.fa-star.grey{
    color: #d9d9d9;
}
#accomodationpopular{
    display: flex;
    
}
#popular{
    background-color: white;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}
.greybox2{
    background-color: #F2F2F2;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    height: 670px;
   
}
.fa-chart-line{
    margin-left: 130px;
}
.greybox2 h2{
    display: flex;
    justify-content: space-between;
}
.VignettePop{
    display: flex;
    width: 95%;
    background: white;
    border-radius: 20px;
    padding: 5px 0;
    box-sizing: border-box;
    margin: 0 10px 45px 10px;
    height: 165px;
    box-shadow: 0 5px 16px #cacaca;
}
.poppicture{
    background-color: white;
    cursor: pointer;
    float: left;
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    margin-left: 5px;
    object-fit: cover;
}
.Vignettecontent2{
    padding-left: 45%;
    font-size: 15px;
    line-height: 1;

}
.starpop{
    padding-top: 2em;
}

/*ACTIVITIES*/

#activities{
    
    background-color: white;
    padding-top: 50px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.containeractivities{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 170px 40px 40px 40px 170px;
    column-gap: 40px;
}
.vignetteact {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px #cacaca;
}
.blockactivities{
    position: relative;
    flex: 1;
}
#activities img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
#activities h3{
    margin: 20px;
    
}
.vign1{
    grid-column: 1/2;
    grid-row: 2/7;
}
.vign2{
    grid-column: 2/3;
    grid-row: 2/5;
}
.vign4{
    grid-column: 3/4;
    grid-row: 2/7;
}
.vign5{
    grid-column: 4/5;
    grid-row: 2/4;
}
.vign3{
    grid-column: 2/3;
    grid-row: 6/7;
}
.vign6{
    grid-column: 4/5;
    grid-row: 5/7;
}

/*FOOTER*/

footer{
    width: 100%;
    margin-top: 75px;
    clear: both;
    background-color: #F2F2F2;
    

}
.contenu_footer{
    display: flex;
    flex-direction:row;
    padding-left: 12.5%;
}
.block_contenu_footer{
    padding: 0 300px 50px 0;
}

/*--------------------------RESPONSIVE--------------------------*/

/*HEADER*/

@media screen and (max-width: 667px) {
    header{
        width: 667px;;  
        padding-left: 10%;
        padding-right: 10%;
    }
    .inscription{
        font-size: 1.5em;
        
    }
    .menunav li{
        font-size: 1.5em;
        clear:both;
    }
    .filtres {
        display: flex;
        flex-direction: column;
        font-size: 1.75em;
             
    }
    .filtersmenu ul{
        display:inline-block;
           
    }
    .filtersmenu li{
        margin-bottom: 1em;
    }

}

/*SECTION*/
@media screen and (max-width: 667px) {
    section {
        width: 667px;;  
        padding-left: 0%;
        padding-right: 0%;
        
    } 
    #accomodationpopular{
        width: 667px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
             
    }
    .accomodationmarseille{
        width: 667px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    

    #popular{
        width: 667px;
        margin-left: 0px;
        align-items: center;
    }
    .greybox2{
        width: 667px;
        height: auto;
        background-color: #f2f2f2;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
        font-size: 1.75em;
    }
   
    .Vignettecontent2{
        font-size: 80%;
    }
    .starpop{
        padding-top: 0;
    }
    .VignettePop{
        width: 90%;
        height: 225px;
    
    }
    .greybox1{
        
        height: auto;
        background-color: white;
        display:flex;
        flex-direction: column;
        align-items: center;    
        
    }
    #accomodation h2{
        font-size: 2.5em;
    }
    .plus{
        font-size: 1.5em;
    }

    .VignetteAcc{
        width: 100%;
        height: 250px;
        background: white;
        box-sizing: border-box;
        margin: 0px 0px 45px 20px;
        padding-bottom: 20px;
        height: 350px;
        box-shadow: 0 5px 16px #cacaca;
        font-size: 1.75em;
    }
    .accmapicture {
        object-fit: cover;
    }
    .Vignettecontent{
        font-size: 100%;
    }
}


/*ACTIVITIES*/
@media screen and (max-width: 667px) {
    #activities{
        width: 667px;
    }
    #activities h2{
        font-size: 2.5em;
    }
    .containeractivities{
        display:flex;
        flex-direction: column;
        align-items: center;
    }   
    .vignetteact{
        width: 100%;
        background: white;
        box-sizing: border-box;
        margin: 0px 0px 45px 0px;
        padding-bottom: 20px;
        height: 350px;
        box-shadow: 0 5px 16px #cacaca;
        font-size: 1.75em;
    }
    .vignetteact h3{
        padding-top: 20px;
    }
    
}


/*FOOTER*/
@media screen and (max-width: 667px) {

    footer{
        width: 667px;  
        padding-left: 0%;
        padding-right: 0%;
        background-color: #f2f2f2;    
    }
  
    .contenu_footer {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-top: 20px;
        padding-left: 1em;
        
    }
    .block_contenu_footer{
        padding-left: 1em;
        padding-bottom: 20px;
        margin: 0;
        font-size: 1.5em;
        
    }
    
}
