html{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}

header, body, footer{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
} 
a{
    text-decoration: none;
    color: black;
}

header{
    box-sizing: border-box;
    display: table;
    width: 100%;  
    border-bottom: 1px dashed #000; /*A virer*/
}

#logo{
    width: 100px;
    height: auto;
    padding-top: 18px;
    float: left;
   
}

.menunav {
    list-style-type: none;
    text-align: right;
    margin: 0;
}

.menunav li {
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    border-top: solid 1px #0065FC;
}

.menunav .nope2{
    border-top: none;
}

h1{
    padding-top: 1em;
}

h1, h2{
    font-size: 1.5em;
}

.searchmenu .fas {
    width: 30px;
    height: auto;
    padding: 10px 10px ;
}

.button {
    width: 150px;
    height: 50px;
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1.5em;   
}

#search {
    width: 250px;
    height: 50px;
    border: none;
    font-size: 1em;
    font-weight: bold;
}

::placeholder{
    color: #000;
}

.filtersmenu .fas{
    padding: 16px;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 100%;
}

.filtersmenu { /*icone à changer */
    display: flex;
    flex-direction: row;
    justify-content: stretch;
   
}

.filtersmenu #nope {
    border: none;
    border-radius: 60px;
}

.filtersmenu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:0;
    padding-left:0;
}
.filtersmenu li{
    list-style: none;
    font-weight: bold;
    padding: 0px 40px 0px 0px;
    border: 1px solid #d9d9d9;
    border-radius: 60px;
    margin-right: 20px;
}

.info{
    display: flex;
    align-items: center;
}

.fa-info{
    padding: 10px 10px 10px 10px;
    color: #0065FC;
    border-radius: 100%;
    border: solid 1px #d9d9d9;
    display: flex;
}

.info p{
    margin-left: 20px;
}






























#accomodation{
    background-color: white;
    width: 66.6%;   
}
.accomodationmarseille{
    display: flex;
    flex-wrap: wrap;
}
.accomodationmarseille h3{
    line-height: 0;
}
.VignetteAcc{
    width: 30%;
    width: calc(33.3% - 30px);
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 20px 50px 10px;
    box-shadow: 0 5px 15px #cacaca;
}
.Vignettecontent{
    padding-left: 20px;
    font-size: 15px;
    line-height: 0.5;
    margin-bottom: 10px;
}
    
.accmapicture{
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.fa-star{
    color: #0065FC;
}
#accomodationpopular{
    display: flex;
}

#popular{
    background-color: white;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.fa-chart-line{
    margin-left: 130px;
}
.VignettePop{
    display: flex;
    width: 75%;
    background: white;
    border-radius: 20px;
    padding: 5px 0;
    box-sizing: border-box;
    margin: 0 10px 45px 10px;
    height: 165px;
    box-shadow: 0 5px 16px #cacaca;
    
}
.poppicture{
    background-color: white;
    cursor: pointer;
    float: left;
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    margin-left: 5px;
    object-fit: cover;
}
.Vignettecontent2{
    padding-left: 45%;
    font-size: 15px;
    line-height: 1;
}
.starpop{
    padding-top: 2em;
}
#activities{
    width: 100%;
    background-color: tomato;
}

.containeractivities{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 496px;
    margin-top: 30px;
    margin-bottom: 100px;
    box-sizing: border-box;
}
.vignetteact{
    width: 25%;
}
.actpicture{
    width: 100%;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}















































footer{
    width: 100%;
    margin-top: 50px;
    clear: both;
    border-top: 1px dashed #000; /*A virer*/
}

.contenu_footer{
    display: flex;
    flex-direction: row;
}

.block_contenu_footer{
    padding: 0 300px 50px 0;
}



































